body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

p {
    font-size: 25px;
    font-family: Arial, sans-serif;
    text-align: center;
}

img {
    width: 100%;
}

div img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

div {
    display: inline-block;
    width: 24%;
    margin: 5px;
    padding: 2px;
}

/* Tablet View: >= 772px */
@media (min-width: 772px) {
    div {
        display: inline-block;
        width: 45vw;
        /* 45% viewport width */
        vertical-align: top;
    }

    div img {
        max-height: 30vh;
        /* 30% viewport height */
        width: auto;
    }
}

/* Large Screen View: >= 998px */
@media (min-width: 998px) {
    div {
        width: 30vw;
        /* 30% viewport width */
    }
}